In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\Ruth Kassaye\Documents\CareerFoundery\DataImmersion\Achievement_4'

In [3]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [4]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False )

In [5]:
# Calling df_ords_prior dataframe
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [24]:
# Checking rows and columns number of df_ords_prior dataframe
df_ords_prior.shape

(32434489, 4)

In [6]:
# Calling df_ords dataframe
df_ords.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,7.0
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0

In [7]:
# Dropping the second index that was created in the df_ords dataframe(Unnamed: 0) and eval_set column, as this column is not need for this achievement see above
df_ords.drop(columns = {'eval_set', 'Unnamed: 0'}, inplace = True)

In [8]:
# Renaming order_dow column as it is not intutive 
df_ords.rename(columns = {'order_dow': 'orders_day_of_week'}, inplace = True)

In [9]:
# Calling df_ords dataframe to check the chnages I made above

df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,7.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [10]:
# Checking the data type of each columns of the df_ords dataframe. Also checking the memory usage
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   orders_day_of_week      int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
dtypes: float64(1), int64(5)
memory usage: 156.6 MB

In [11]:
# Checking the data type of each columns of the df_ords_prior dataframe. Also checking the memory usage
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [12]:
# Change types for df_ords data set. The purpose of this command is just to save memory of my computer

df_ords['order_id']=df_ords['order_id'].astype('int32')
df_ords['user_id'] = df_ords['user_id'].astype('int32')
df_ords['order_number']=df_ords['order_number'].astype('int8')
df_ords['orders_day_of_week']=df_ords['orders_day_of_week'].astype('int8')
df_ords['order_hour_of_day']=df_ords['order_hour_of_day'].astype('int8')
df_ords['days_since_prior_order']=df_ords['days_since_prior_order'].astype('float16')

In [13]:
# Chnage types for df_ords_prior data set. The purpose of this command is just to save memory of my computer
df_ords_prior['order_id']=df_ords_prior['order_id'].astype('int32')
df_ords_prior['product_id']=df_ords_prior['product_id'].astype('int32')
df_ords_prior['add_to_cart_order']=df_ords_prior['add_to_cart_order'].astype('int8')
df_ords_prior['reordered']=df_ords_prior['reordered'].astype('int8')
df_ords_prior['reordered']=df_ords_prior['reordered'].astype('int8')

In [14]:
df_ords.shape

(3421083, 6)

In [15]:
df_ords_prior.shape

(32434489, 4)

In [16]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [17]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,7.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [18]:
#  If I want to combine all the observations using outer
#df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True, how = 'outer')

## 1. Merging df_ords and df_ords_prior dataframes

In [19]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [20]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,7.0,196,1,0,both
1,2539329,1,1,2,8,7.0,14084,2,0,both
2,2539329,1,1,2,8,7.0,12427,3,0,both
3,2539329,1,1,2,8,7.0,26088,4,0,both
4,2539329,1,1,2,8,7.0,26405,5,0,both

In [21]:
# Calling the merge flag column which lets me see instantly whether I have a full match or not
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [22]:
df_merged_large.shape

(32434489, 10)

In [23]:
df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

# Task

### Q1. If you haven’t merged your prepared Instacart orders data with the new orders_products_prior dataframe per the instructions in this Exercise, do so now.

- **Answer**: please see above section 1

### Q2. Export the merged file in pickle format as “orders_products_combined.pkl”.

- **Answer**: Done. please see above