In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\Ruth Kassaye\Documents\CareerFoundery\DataImmersion\Achievement_4'

In [3]:
# Importing the products_checked dataframe
df_prods = pd.read_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'), index_col = False)

In [4]:
# Checking the number of rows and columns of df_prods
df_prods.shape

(49672, 6)

### Q3. In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.

In [5]:
# Importing orders_products_combined.pkl dataframe
df_merged_large = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data','orders_products_combined.pkl'))

### Q4. Check the shape of the imported dataframe (it should be the same as the one you exported—always check!).

 - **Answer**: the imported df_merged_large.shape shape,i.e., the number of columns and rows are the same with that of the exported df_merged_large.shape shape.

In [6]:
# Checking shape of df_merged_large dataframe
df_merged_large.shape

(32434489, 10)

In [7]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,7.0,196,1,0,both
1,2539329,1,1,2,8,7.0,14084,2,0,both
2,2539329,1,1,2,8,7.0,12427,3,0,both
3,2539329,1,1,2,8,7.0,26088,4,0,both
4,2539329,1,1,2,8,7.0,26405,5,0,both

In [8]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
# Dropping the Unnamed: 0 column from the df_prods dataframe, not needed 
df_prods= df_prods.drop(columns = ['Unnamed: 0'])

In [10]:
#Calling the df_prods dataframe to check if the 'Unnamed: 0' column has been dropped 
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [11]:
# Calling the df_merged_large dataframe
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,7.0,196,1,0,both
1,2539329,1,1,2,8,7.0,14084,2,0,both
2,2539329,1,1,2,8,7.0,12427,3,0,both
3,2539329,1,1,2,8,7.0,26088,4,0,both
4,2539329,1,1,2,8,7.0,26405,5,0,both

### Q5. Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

#### Step one: Determine the common identifier of the two dataframes that are going to be merged 

 - **product_id** is the common identifier/key variable
   
#### Step two: checking the data types of the two dataframes that are going to be merged 

  - Note that the key variable data type in the two dataframe should be the same

In [12]:
# Checking the the data type of df_merfed_large data frame
df_merged_large.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_hour_of_day       int8
 5   days_since_prior_order  float16
 6   product_id              int32
 7   add_to_cart_order       int8
 8   reordered               int8
 9   _merge                  category
dtypes: category(1), float16(1), int32(3), int8(5)
memory usage: 866.1 MB

In [13]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int64
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int64
 3   department_id  49672 non-null  int64
 4   prices         49672 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.9+ MB

In [14]:
# Changing the data type of product_id of the df_prods from int64 to int32. Also I chnaged the other variables to to save memory 

df_prods['product_id']=df_prods['product_id'].astype('int32')
df_prods['aisle_id']=df_prods['aisle_id'].astype('int32')
df_prods['department_id']=df_prods['department_id'].astype('int32')
df_prods['prices']=df_prods['prices'].astype('float32')

In [15]:
# Calling df_prods to check if my data type manipulation on the df_prods has been implemented 
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int32
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int32
 3   department_id  49672 non-null  int32
 4   prices         49672 non-null  float32
dtypes: float32(1), int32(3), object(1)
memory usage: 1.1+ MB

In [16]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

#### Step three: Merging the two dataframes  

  - Given the two dataframes have different shapes, I should use the **mergeing** function to combine the two dataframes
  - I have used the inner merging option to get the porudcts_id that are found in both dataframes

In [17]:
# Merging df_merged_large and df_prods and save the result in a new dataframe- df_ords_prods
df_ords_prods = df_merged_large.merge(df_prods, on = 'product_id')

In [18]:
# Calling the new datframe and checking if they are merged 
df_ords_prods.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,7.0,196,1,0,both,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0
2,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0
3,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0
4,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0

In [19]:
df_ords_prods.shape

(32404859, 14)

### Q6. Confirm the results of the merge using the merge flag.

In [20]:
# Checking if the two dataframes are merged. The '_merge' variable is created by panda when merging the two dataframes, see the above
df_ords_prods['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

### Q7. Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).

In [21]:
# Exporting the df_ords_prods dataframe as pickle format
df_ords_prods.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))